[submodule "resources/noise/FastNoise2"]
	path = resources/noise/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "resources/fonts/hoardOfBitfonts"]
	path = resources/fonts/hoardOfBitfonts
	url = https://github.com/0xBAMA/hoard-of-bitfonts.git
